*, html, body{
    padding: 0px;
    margin: 0px;
}

.headerImage{
    background-image: url(../images/woodtexture.jpg);
    background-size: cover;
    height: 400px;
}

.navbar{
    width: 50%;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    margin: auto;
}

ul{
    margin: auto;
    width: 90%;
}

li{
    display: inline-block;
    padding: 20px;
    font-size: 40px;
    
}

li a{
    text-decoration: none;
    color: white;
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

li a:hover{
    color: pink;
    text-shadow: 5px 5px 10px black;
}

